<div class="top-bar">
  <div class="container-1">
    投稿一覧
  </div>
</div>

<div class="container-2">
  <div class="images-box">
    <ul>
    <% @notes.each do |note| %>
      <div class="index-image">
      <%= link_to note_path(note.id) do %>
        <li><%= image_tag "/user_images/#{note.image}", class: "index-images" %></li>
        <li><%= note.title %></li>
      <% end %>
      </div>
    <% end %>
    </ul>
  </div>
</div>