<h1>投稿一覧</h1>
<div class="notes">
<ul>
  <% @notes.each do |note| %>
    <li>
      <a href="/notes/<%= note.id %>" >
        <div class="image"><%= image_tag note.image %></div>
      </a>
    </li>
  <% end %>
</ul>
</div>

<div class="images">
 <div class="image" style="background-color: red;"></div>
 <div class="image" style="background-color: green;"></div>
 <div class="image" style="background-color: blue;"></div>
 <div class="image" style="background-color: black;"></div>
 <div class="image" style="background-color: yellow;"></div>
 <div class="image" style="background-color: white;"></div>
 <div class="image" style="background-color: gray;"></div>
 <div class="image" style="background-color: pink;"></div>
 <div class="image" style="background-color: purple;"></div>
</div>