<div class="top-bar">
  <div class="container-1">
    <%=  @user.prefecture_name %>
  </div>
</div>

<div class="container-2">
  <div class="images-box">
      <% @search_answers.each do |note| %>
        <div class="index-images">
          <%= link_to note_path(note.id) do %>
            <%= image_tag "/user_images/#{note.image}", class: "index-image" %>
            <p class="index-title"><%= note.title %></p>
          <% end %>
        </div>
      <% end %>
  </div>
</div>