  <div class="top-wrapper">
      <div class="bg-inner">
        <div class="top-text">
          <h1>生まれた街を紹介しよう</h1>
          <p>知られていない場所、気軽に楽しめる場所をシェアしてみよう</p>
       </div>
       <div class="searcher">
        <div class="bg-inner-2">
         <%= form_tag search_notes_path, method: :get do %>
            <input class="search__query" name="keyword" placeholder="都道府県で検索" type="string" value=""><button class="btn-search" title="検索" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button></input>
        <% end %>
        </div>
       </div>
    </div>
  </div>