/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*------- 共通 -------*/
* {
  box-sizing: border-box;
  outline: 0;
}

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a, input {
  text-decoration: none;
  color: inherit;
}

body {
  -webkit-font-smoothing: antialiased;
/*  font-family: 'Hiragino KaKu Gothic Pro', sans-serif;
*/  font-family: "ヒラギノ角ゴ Pro","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic","MS Gothic","ＭＳ ゴシック","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  padding-top: 60px;
}

.container-1 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.container-2 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}

.top-bar {
  line-height: 45px;
  width: 100%;
  font-size: 20px;
  background-color: #616161;
  color: #eee;
}

.clear {
  clear: left;
}

/*------- top -------*/
header {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 10;
  border-bottom: 1px solid #eee;
}

.header-left {
  line-height: 60px;
  display: inline-block;
  font-family: Dosis, sans-serif;
  font-size: 25px;
  letter-spacing: -3px;
  color: #388E3C;
  position: relative;
  transition: all .3s;
}

.left {
  float: left;
}

.header-left a {
  display: inline-block;
  padding: 0 20px;
  border-right: 1px solid #eee;
}

.header-left i {
  line-height: 60px;
  margin: 0 10px;
  color: #eee;
  float: left;
}

.header-left input {
  border: none;
  line-height: 55px;
  font-size: 15px;
  color: black;
  float: left;
}

.header-right {
  float: right;
}

.header-right  li {
  float: left;
  padding: 0 5px 0 10px;
  line-height: 60px;
  color: #212121;
  border-left: 1px solid #eee;
  transition: all .3s;
}

footer {
  padding-top: 25px;
  text-align: center;
  height: 130px;
  width: 100%;
  background-color: #E0E0E0;
}
/*------note index-------*/

